.footer{
    width: 100%;
    height: 450px;
    background-color: #1A2225;
}
    
.logomaytheforcenegativo {
    margin-left: 28%;
    padding-top: 140px;
}
    
    img{
    width: 250px;
    height: auto;
    }
    
    .Linea {
    position: absolute;
    width: 0px;
    height: 250px;
    border: 1px solid #FFFFFF;
    margin-left: 50%;
    margin-top:50px;
    }
    
    .Tag {
    position: absolute;
    font-size: 15px;
    line-height: 5px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-left: 55%;
    margin-top:150px;
    }
    
    
    